body {
  padding: 0px;
  margin: 0px;
  font: 400 16px/1.5em "Open Sans", sans-serif,  Arial;
}
.page-content {
  max-width: 100%;
  padding: 30px;
  background: #ffffff;
}
a {
  color: #2e50eb;
  transition: all 0.3s;
}
a:hover {
  color: #246edd;
}

.tabbed {
  overflow-x: hidden; 
  margin: 30px 0;
  padding-bottom: 14px;
}

.tabbed [type="radio"] {
  display: none;
}

.tabs {
  display: flex;
  align-items: stretch;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabs::-webkit-scrollbar {
  height: 3px;
}

.tabs::-webkit-scrollbar-track {
  background: #eeeeee;
}

.tabs::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
}

.tab > label {
  display: block;
  margin-bottom: -1px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s;
}
.tab:hover label {
  border-top-color: rgba(51, 51, 51, 0.048);
  color: rgba(51, 51, 51, 0.404);
}

.tab-content {
  display: none;
  color: rgb(0, 0, 0);
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs
  .tab:nth-of-type(5)
  label {
  border-bottom-color: rgb(54, 31, 56);
  border-top-color: #000;
  background: #fff;
  color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
  display: block;
}


.no-radius {
  border-radius: 0px !important;
  margin-top: 10px;
}

.cusNamePhone {
  display: flex;
  justify-content: space-between;
}

.orderDetails {
  color: rgb(129, 34, 34);
  font-size: 18px;
}

